<footer id="page-footer">
  <p>
    Copyright &copy; <%= Date.today.year.to_s %> <%= link_to "The Pragmatic Studio", "http://pragmaticstudio.com" %>
  </p>
  <p>
    For educational purposes only.
  </p>
</footer>